<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/syntax-base16.dark.css">
</head>
<body>
<div class="site">
  <header class="site-header">
    <h1><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <nav class="site-nav">
      <a href="/about">about</a>
    </nav>
  </header>
  
  <main class="site-contents">
    {{ content }}
  </main>
  
  <footer class="site-footer">
    <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/public/caniuse-embed.min.js"></script>
</body>
</html>
